.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;

  &.left-container {
    left: 0%
  }

  &.right-container {
    left: 50%
  }

  $number-of-elements: 6;

  @for $i from 1 through $number-of-elements {
    &:nth-child(#{$i}) {
      animation-delay: #{$i - 1}s;
    }
  }

  .img-circle {
    position: absolute;
    width: 40px;
    height: 50px;
    border-radius: 50px;
    top: 32px;
    background-size: cover;
    z-index: 10;

    &.img-right {
      right: -20px;
    }

    &.img-left {
      left: -20px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.25, 1.25);
    }

    &:hover::after {
      opacity: 1;
    }
  }

  span {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    &.left-container-arrow {
      right: -15px;
      border-left: 15px solid #fff;
    }

    &.right-container-arrow {
      left: -15px;
      border-right: 15px solid #fff;
    }
  }
}

.number-image-timeline-2 {
  visibility: hidden;
}

img.active {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible !important;
  z-index: 9999;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box {
  padding: 10px 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;

    &::after {
      left: 31px;
    }

    .container {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;

      &.right-container {
        left: 0;
      }

      .img-circle {

        &.img-right,
        &.img-left {
          left: 10px
        }
      }

      span {

        &.left-container-arrow,
        &.right-container-arrow {
          left: -15px;
          border-left: 0;
          border-right: 15px solid #fff;
        }
      }
    }

    .text-box {
      font-size: 13px;
    }

    .text-box small {
      margin-bottom: 10px;
    }
  }
}