<div class="timeline">
  <div class="container left-container">
    <img class="img-circle img-right" src="./images/google.png" alt=google>
    <div class="text-box">
      <h2>Alphabet Inc.</h2>
      <p>No crepúsculo sereno de uma tarde de verão, as folhas cintilantes das árvores dançavam ao ritmo suave da brisa enquanto
      os pássaros entoavam melodias alegres, enchendo o ar com uma sinfonia de vida e movimento que transformava o cenário em
      um quadro de harmonia natural.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>

  <div class="container right-container">
    <img class="img-circle img-left" src="./images/amazon.png">
    <div class="text-box">
      <h2>Amazon Inc.</h2>
      <p>No crepúsculo sereno de uma tarde de verão, as folhas cintilantes das árvores dançavam ao ritmo suave da brisa
        enquanto
        os pássaros entoavam melodias alegres, enchendo o ar com uma sinfonia de vida e movimento que transformava o
        cenário em
        um quadro de harmonia natural.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>

  <div class="container left-container">
    <img class="img-circle img-right" src="./images/tesla.png">
    <div class="text-box">
      <h2>Tesla Inc.</h2>
      <p>No crepúsculo sereno de uma tarde de verão, as folhas cintilantes das árvores dançavam ao ritmo suave da brisa
        enquanto
        os pássaros entoavam melodias alegres, enchendo o ar com uma sinfonia de vida e movimento que transformava o
        cenário em
        um quadro de harmonia natural.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>

  <div class="container right-container">
    <img class="img-circle img-left" src="./images/toyota.png">
    <div class="text-box">
      <h2>Toyota</h2>
      <p>No crepúsculo sereno de uma tarde de verão, as folhas cintilantes das árvores dançavam ao ritmo suave da brisa
        enquanto
        os pássaros entoavam melodias alegres, enchendo o ar com uma sinfonia de vida e movimento que transformava o
        cenário em
        um quadro de harmonia natural.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>

  <div class="container left-container">
    <img class="img-circle img-right" src="./images/flipkart.png">
    <div class="text-box">
      <h2>Flipkart</h2>
      <p>No crepúsculo sereno de uma tarde de verão, as folhas cintilantes das árvores dançavam ao ritmo suave da brisa
        enquanto
        os pássaros entoavam melodias alegres, enchendo o ar com uma sinfonia de vida e movimento que transformava o
        cenário em
        um quadro de harmonia natural.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>

  <div class="container right-container">
    <img class="img-circle img-left" src="./images/youtube.png">
    <div class="text-box">
      <h2>Youtube</h2>
      <p>No crepúsculo sereno de uma tarde de verão, as folhas cintilantes das árvores dançavam ao ritmo suave da brisa
        enquanto
        os pássaros entoavam melodias alegres, enchendo o ar com uma sinfonia de vida e movimento que transformava o
        cenário em
        um quadro de harmonia natural.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
</div>
