*{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;

  &::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
  }
}
@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}

.container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;

  &.left-container {
      left: 0%
  }

  &.right-container {
    left: 50%
  }

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 1s;
  }

  &:nth-child(3) {
    animation-delay: 2s;
  }

  &:nth-child(4) {
    animation-delay: 3s;
  }

  &:nth-child(5) {
    animation-delay: 4s;
  }

  &:nth-child(6) {
    animation-delay: 5s;
  }

  .img-circle {
    position: absolute;
    width: 40px;
    border-radius: 50px;
    top: 32px;
    z-index: 10;

    &.img-right {
      right: -20px;
    }

    &.img-left {
      left: -20px;
    }
  }

  span {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    &.left-container-arrow {
      right: -15px;
      border-left: 15px solid #fff;
    }

    &.right-container-arrow {
      left: -15px;
      border-right: 15px solid #fff;
    }
  }
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box{
  padding: 10px 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;

    &::after {
      left: 31px;
    }

    .container {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;

      &.right-container {
        left: 0;
      }

      .img-circle {
        &.img-right, &.img-left {
          left: 10px
        }
      }

      span {
        &.left-container-arrow, &.right-container-arrow {
          left: -15px;
          border-left: 0;
          border-right: 15px solid #fff;
        }
      }
    }

    .text-box{
      font-size: 13px;
    }

    .text-box small {
      margin-bottom: 10px;
    }
  }
}

