<div class="timeline">
  <div class="container left-container">
    <img class="img-circle img-right" src="./public/images/criacao.jpg">
    <div class="text-box">
      <h2>A Criação</h2>
      <p>Deus criou o homem à sua imagem, à imagem de Deus o criou; homem e mulher os criou.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>

  <div class="container right-container">
    <img class="img-circle img-left" src="./public/images/arca-de-noe.jpg">
    <div class="text-box">
      <h2>A Arca de Noé</h2>
      <p>Faça uma arca de madeira resinosa. Você fará compartimentos na arca e a revestirá de betume por dentro e
        por fora.
        15 É assim que a fará: a arca deve ter 300 côvados de comprimento, 50 côvados de largura e 30 côvados de
        altura.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>

  <div class="container left-container">
    <img class="img-circle img-right" src="./public/images/moises.jpg">
    <div class="text-box">
      <h2>Moisés</h2>
      <p>Jeová acrescentou: “Certamente vi a aflição do meu povo, que está no Egito, e ouvi seu clamor por causa
        daqueles que os
        obrigam a trabalhar; e sei muito bem quanto estão sofrendo. Vou descer a fim de livrá-los das mãos dos
        egípcios e
        levá-los para fora daquela terra, para uma terra boa e espaçosa, uma terra que mana leite e mel, o território
        dos
        cananeus, dos hititas, dos amorreus, dos perizeus, dos heveus e dos jebuseus.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>

  <div class="container right-container">
    <img class="img-circle img-left" src="./public/images/daniel.jpg">
    <div class="text-box">
      <h2>Daniel</h2>
      <p>E, assim como o senhor viu que os pés e os dedos dos pés eram parcialmente de argila de oleiro e parcialmente
        de ferro,
        o reino estará dividido; porém, haverá nele um pouco da dureza do ferro, assim como o senhor viu o ferro
        misturado com
        argila mole. E, assim como os dedos dos pés eram parcialmente de ferro e parcialmente de argila, o reino será
        parcialmente forte e parcialmente frágil.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>

  <div class="container left-container">
    <img class="img-circle img-right" src="./public/images/jesus.jpg">
    <div class="text-box">
      <h2>Jesus</h2>
      <p>José, filho de Davi, não tenha medo de levar para casa Maria, sua esposa, pois o que foi concebido nela é por
        espírito
        santo. Ela dará à luz um filho, e você deve lhe dar o nome de Jesus, pois ele salvará seu povo dos pecados
        deles.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>

  <div class="container right-container">
    <img class="img-circle img-left" src="./public/images/apocalipse.jpg">
    <div class="text-box">
      <h2>Apocalipse</h2>
      <p>Os dez chifres que você viu e a fera odiarão a prostituta; eles a deixarão devastada e nua, comerão a sua
        carne e a
        queimarão completamente no fogo.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
</div>