<div class="timeline">
  <app-block-timeline containerClass="left-container" imgSrc="./public/images/criacao.jpg" title="A Criação"
    text="Deus criou o homem à sua imagem, à imagem de Deus o criou; homem e mulher os criou."
    arrowClass="left-container-arrow">
  </app-block-timeline>
  <app-block-timeline containerClass="right-container" imgSrc="./public/images/arca-de-noe.jpg" title="A Arca de Noé"
    text="Faça uma arca de madeira resinosa. Você fará compartimentos na arca e a revestirá de betume por dentro e por fora. 15 É assim que a fará: a arca deve ter 300 côvados de comprimento, 50 côvados de largura e 30 côvados de altura."
    arrowClass="right-container-arrow">
  </app-block-timeline>
  <app-block-timeline containerClass="left-container" imgSrc="./public/images/moises.jpg" title="Moisés"
    text="Jeová acrescentou: “Certamente vi a aflição do meu povo, que está no Egito, e ouvi seu clamor por causa daqueles que os obrigam a trabalhar; e sei muito bem quanto estão sofrendo. Vou descer a fim de livrá-los das mãos dos egípcios e levá-los para fora daquela terra, para uma terra boa e espaçosa, uma terra que mana leite e mel, o território dos cananeus, dos hititas, dos amorreus, dos perizeus, dos heveus e dos jebuseus."
    arrowClass="left-container-arrow">
  </app-block-timeline>
  <app-block-timeline containerClass="right-container" imgSrc="./public/images/daniel.jpg" title="Daniel"
    text="E, assim como o senhor viu que os pés e os dedos dos pés eram parcialmente de argila de oleiro e parcialmente de ferro, o reino estará dividido; porém, haverá nele um pouco da dureza do ferro, assim como o senhor viu o ferro misturado com argila mole. E, assim como os dedos dos pés eram parcialmente de ferro e parcialmente de argila, o reino será parcialmente forte e parcialmente frágil."
    arrowClass="right-container-arrow">
  </app-block-timeline>
  <app-block-timeline containerClass="left-container" imgSrc="./public/images/jesus.jpg" title="Jesus"
    text="José, filho de Davi, não tenha medo de levar para casa Maria, sua esposa, pois o que foi concebido nela é por espírito santo. Ela dará à luz um filho, e você deve lhe dar o nome de Jesus, pois ele salvará seu povo dos pecados deles."
    arrowClass="left-container-arrow">
  </app-block-timeline>
  <app-block-timeline containerClass="right-container" imgSrc="./public/images/apocalipse.jpg" title="Apocalipse"
    text="Os dez chifres que você viu e a fera odiarão a prostituta; eles a deixarão devastada e nua, comerão a sua carne e a queimarão completamente no fogo."
    arrowClass="right-container-arrow">
  </app-block-timeline>
</div>